

@font-face {
    font-family: 'galano';
    src: url('../public/fonts/GalanoGrotesqueExtraBold.otf') format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'galano';
    src: url('../public/fonts/GalanoGrotesqueBold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'galano';
    src: url('../public/fonts/GalanoGrotesqueMedium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'galano';
    src: url('../public/fonts/GalanoGrotesqueRegular.otf') format('opentype');
    font-weight: 400;
}


body{
    background-color: #fff;
    font-family: 'galano', sans-serif;
    font-weight: 400;
}
*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

/* Header Start */

.page-title {
    margin: 30px auto;
    width: fit-content;
}

/* Header Fnish */

/* Navbar Start */

.container-nav {
    width: 82vw;
    margin: 0 auto;
}

.nav-menu {
    position: relative;
    display: flex;
}

.navList {
    justify-content: space-between;
    display: flex;
    width: 50vw;
    margin: 0 auto;
    list-style-type: none;
    line-height: 57px;
}

.navList li.active {
    color: #FF0D87;
    border-bottom: 2px solid #FF0D87;
  }

.navList>li {
    cursor: pointer;
    transition: color 0.2s, border-bottom-color 0.2s;
}

.navList>li:hover {
    color: #FF0D87;
}

:focus {
    outline: none;
}

.search-box {
    position: absolute;
    right: 10px;
    border: 1px solid #DEDEDE;
    padding: 11px 0px;
    width: 134px;
    overflow: hidden;
}

.location-icon {
    margin-right: 10px;
}

.location-icon>svg {
    font-size: 20px;
}

.search-icon > svg {
    font-size: 20px;
}

.search-box .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .search-box input[type="text"] {
    padding-left: 41px;
  }

.filter-container {
    padding: 12px 0px;
    background-color: #F5F5F5;
}

.filter-content {
    display: flex;
    justify-content: space-between;
    width: 81vw;
    margin: 0 auto;
}

.calender-box>a {
    display: flex;
}

/* Navbar Fnish */

.event-container {
    display: flex;
    margin: 5% auto;
    align-items: center;
    position: relative;
    border: 1px solid #DEDEDE;
}

.left-side {
    height: 204px;
    width: 204px;
    background-color: #000000;
    color: #FF0D87;
    display: flex;
    align-items: center;
}

.event-info-box {
    display: grid;
    margin: 8px 10px 8px 20px;
}

.right-side {
    display: flex;
    position: absolute;
    left: 99px;
    align-items: center;
}

.event-concept {
    color: white;
    background-color: #B77CB8;
    padding: 4px 28px;
    position: absolute;
    left: 5%;
    z-index: 1000;
    text-transform: uppercase;
    top: 14%;
}

.calender-box {
    display: grid;
}

.calender-box>a {
    color: #000000;
    text-decoration: none;
    gap: 1rem;
}

.calender-icon>svg {
    font-size: 23px;
}

.add-call-box {
    display: flex;
    margin: 13px 0px 0px auto;
}

.add-call-box>p {
    font-size: 16px;
    margin-left: 19px;
}

.event-date {
    width: min-content;
    text-align: center;
    line-height: 25px;
    margin-left: 20px;
    z-index: 1000;
    font-family: 'galano', sans-serif;
    font-weight: 500;
}

img {
    height: 100%;
    width: inherit;
}

.event-img-box {
    height: 178px;
    width: 322px;
}

button {
    height: 48px;
    width: 166px;
    background-color: #FF0D87;
    color: #fff;
    font-family: 'galano', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.menu-toggle {
    background-color: #FF0D87;
    color: #fff;
    font-size: 23px;
    width: fit-content;
    height: fit-content;
    padding: 5px 7px 0px 7px;
    border-radius: 3px;
}

.event-description {
    line-height: 22px;
    font-size: 17px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-family: 'galano', sans-serif;
    font-weight: 400;
}

.event-description:after {
    content: " ...Detaylı Bilgi";
}

.callender-container {
    margin: auto 34px;
}

.event-title {
    font-size: 17px;
    font-family: 'galano', sans-serif;
    font-weight: 500;
}

.event-location {
    color: #9C9C9C;
    font-size: 16px;
}
.location-box {
    margin: 11px 0px;
}

.add-icon>svg {
    font-size: 23px;
}

.filter-box {
    display: flex;
}

.filter-icon > svg {
    font-size: 23px;
    margin-right: 10px;
}

.location-box {
    display: flex;
}


@media only screen and (max-width: 1200px) {
    button {
        width: 136px;
        height: 44px;
    }
    .add-call-box > p {
        font-size: 15px;
        margin-left: 9px;
    }
    .callender-container {
        margin: auto 17px;
    }
    .event-img-box {
        height: 159px;
        width: 284px;
    }
    .event-container {
        height: 190px;
    }
    .left-side {
        height: 190px;
    }
    .event-concept {
        padding: 4px 22px;
        top: 6%;
    }
}

@media only screen and (max-width: 1076px) {
    .left-side {
        height: 171px;
        width: 171px;
    }
    .event-img-box {
        height: 145px;
        width: 250px;
    }
    .event-container {
        height: 171px;
    }
    .add-call-box {
        display: grid;
        margin: 13px 0px 0px auto;
        text-align: center;
    }
    .container {
        width: 82vw;
        margin: 0 auto;
    }
    .right-side {
        display: flex;
        position: absolute;
        left: 94px;
        align-items: center;
    }
    .event-date {
        margin-left: 12px;
        font-size: 16px;
    }
    .container-nav {
        width: 92vw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 970px) {
    .event-container {
        height: 160px;
    }
    .left-side {
        height: 160px;
        width: 160px;
    }
    .event-img-box {
        height: 135px;
        width: 232px;
    }
    .event-location {
        font-size: 15px;
    }
    .location-box {
        margin: 7px 0px;
    }
    .event-description {
        -webkit-line-clamp: 2;
    }
    button {
        width: 125px;
        height: 39px;
    }
    .event-description {
        text-align: left;
    }
    .callender-container {
        margin: auto 10px;
    }
    .event-concept {
        padding: 4px 18px;
        top: 1%;
    }
}

@media only screen and (max-width: 827px) {
    .event-container {
        height: 624px;
        justify-content: center;
    }
    .container-nav {
        width: 81vw;
        margin: 0 auto;
    }
    .nav-menu {
        margin-bottom: 20px;
        display: grid;
    }
    .left-side {
        height: 275px;
        width: 100%;
        position: absolute;
        top: 0;
        align-items: initial;
        justify-content: center;
    }
    .event-date {
        margin-left: 0px;
        font-size: 22px;
        margin-top: 10px;
        width: auto;
    }
    .right-side {
        display: grid;
        left: auto;
        margin: 0 auto;
        width: 93%;
        bottom: 0;
    }
    .event-img-box {
        height: auto;
        width: 76vw;
    }
    .event-concept {
        padding: 8px 37px;
        top: 9%;
        font-size: 20px;
        left: 0;
    }
    .event-title {
        font-size: 22px;
        margin-top: 15px;
    }
    .event-description {
        -webkit-line-clamp: 2;
        font-size: 22px;
    }
    .location-box {
        margin: 14px 0px;
    }
    .event-location {
        font-size: 18px;
    }
    .callender-container {
        display: flex;
        margin: 22px 26px;
    }
    .add-call-box {
        display: flex;
    }
    .event-date {
        color: #ffffff;
    }
    button {
        width: 133px;
        height: 44px;
        font-size: 19px;
    }
    .add-call-box > p {
        font-size: 19px;
    }
    .add-icon > svg {
        font-size: 27px;
    }
    .navList {
        width: 80vw;
    }
    .navList {
        flex-direction: column;
    }
}

@media only screen and (max-width: 685px) {
    .right-side {
        top: 6%;
    }
    .event-concept {
        padding: 7px 35px;
        top: 19%;
        font-size: 19px;
    }
}

@media only screen and (max-width: 595px) {

    .container {
        width: 89vw;
    }
    .event-container {
        height: 533px;
    }
    .left-side {
        height: 226px;
    }
    .event-img-box {
     
       width: 100%;
    }
    .event-concept {
        top: 18%;
        font-size: 17px;
    }
}

@media only screen and (max-width: 428px) {

    .container {
        width: 92vw;
    }
    .event-container {
        height: 437px;
    }
    .event-info-box {
        margin: 8px 0px 8px 2px;
    }
    .location-box {
        display: none;
    }
    .event-description {
        -webkit-line-clamp: 1;
        line-height: 46px;
    }
    .callender-container {
        margin: 0px 3px 5px 3px;
    }
    .event-date {
        font-size: 19px;
        margin-top: 6px;
    }
    .left-side {
        height: 202px;
    }
}

@media only screen and (max-width: 385px) {

    .event-container {
        height: 411px;
    }
    .event-info-box {
        margin: 7px 0px -9px 2px;
    }

    .event-concept {
        top: 13%;
        font-size: 15px;
    }
    .add-call-box > p {
        font-size: 18px;
        margin-left: 4px;
    }
    .left-side {
        height: 162px;
    }
    .event-concept {
        top: 18%;
    }
    .event-container {
        height: 389px;
    }
    button {
        width: 111px;
        height: 38px;
        font-size: 19px;
    }
}